[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Danielle Teagarden
	email = 139598508+danielle-teagarden@users.noreply.github.com
[core]
	pager = delta
